apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


namespace: dev

resources:
- ../../base


patches:
- path: ingress-patch.yaml
  target:
    group: networking.k8s.io
    kind: Ingress
    name: petclinic-ingress
    version: v1


# 여기서 별명을 진짜 ECR 주소로 매핑

images:
- name: petclinic-image-placeholder
  newName: 639242342449.dkr.ecr.ap-northeast-2.amazonaws.com/gitactions
  newTag: main-2072dbc
- name: petclinic-web-placeholder
  newName: 639242342449.dkr.ecr.ap-northeast-2.amazonaws.com/gitactions
  newTag: web
