apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# 1. 이름 앞에 gcp- 접두사 붙이기 (ArgoCD 경고 해결 핵심)
# 결과: petclinic-web -> gcp-petclinic-web
#namePrefix: gcp-

# 2. 라벨 추가 (선택사항)
commonLabels:
  env: gcp-prod

resources:
- ../../base

# 3. GCP 전용 Ingress 설정 합치기 (이 파일이 있어야 에러가 안 납니다!)
patches:
- path: ingress-patch.yaml

# 4. 이미지 설정 (작성해주신 내용 그대로 유지)

# 2. [추가] Web 이미지 설정
images:
- name: petclinic-image-placeholder
  newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/gitactions-hjh/gitactions
  newTag: v2.0
- name: petclinic-web-placeholder
  newName: asia-northeast3-docker.pkg.dev/kdt2-final-project-t1/gitactions-hjh/web
  newTag: v1
