apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# 1. 이름 앞에 접두사 붙이기 (ArgoCD 경고 해결 핵심!)
# 결과: petclinic-web -> aws-petclinic-web으로 이름이 바뀜
#namePrefix: aws-
#namespace: petclinic

# 2. AWS인지 GCP인지 라벨로 구분 (선택사항이지만 권장)
commonLabels:
  env: aws-prod

resources:
- ../../base

# 3. 아까 분리한 AWS 전용 Ingress 설정 합치기 (중요!)
patches:
- path: ingress-patch.yaml

# 4. 이미지 설정 (기존 내용 유지)

# 2. [추가] Web 이미지 설정

# 2. [추가] Web 이미지 설정
images:
- name: petclinic-image-placeholder
  newName: 639242342449.dkr.ecr.ap-northeast-2.amazonaws.com/gitactions
  newTag: v1.1.1.1
- name: petclinic-web-placeholder
  newName: 639242342449.dkr.ecr.ap-northeast-2.amazonaws.com/gitactions
  newTag: web
