apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../base

# AWS 전용 이미지 설정 (처음엔 비워둬도 됨, CI가 채워줌)
images:
- name: petclinic-image-placeholder
  newName: public.ecr.aws/nginx/nginx # 임시 주소 (처음 에러 방지용)
  newTag: latest
